# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/

# Scratch & IDE
scratch/
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml
